<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/img/logo-prodotti-nobili.png" alt="Logo" width="150" height="100" class="d-inline-block align-text-top">
            Prodotti Nobili Marchigiani
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" routerLink="/presentazione">Chi Siamo?</a>
                <a class="nav-link"  routerLink="/produttori">Produttori</a>
                <a class="nav-link" routerLink="/dashboard">Mio profilo</a>
            </div>
        </div>
        <form class="d-flex" role="login">
            <button class="btn btn-outline-primary" type="submit" routerLink="/register">Register</button>
            <button class="btn btn-outline-secondary" type="submit" routerLink="/login">Login</button>
        </form>
    </div>
</nav>
