<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/img/logo.png" alt="Logo" width="80" height="35" class="d-inline-block align-text-top"></a>
            <b class="titolo">Prodotti Nobili Marchigiani</b>

        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-link" routerLinkActive="active" routerLink="/home" aria-current="page">Home</a>
                <a class="nav-link" routerLinkActive="active" routerLink="/presentazione">L'Associazione</a>
                <a class="nav-link" routerLinkActive="active" routerLink="/produttori">Produttori</a>
            </div>
        </div>
        <form class="d-flex" role="login" (ngSubmit)="Logout()" >
            <button   *ngIf="!this.log" class="btn btn-outline-secondary" type="submit" routerLink="/register">Register</button>
            <button   *ngIf="!this.log" class="btn btn-warning" type="submit" routerLink="/login">Login</button>
            <button   *ngIf="this.log" class="btn btn-outline-secondary" type="submit" routerLink="/dashboard">Profilo</button>
            <button   *ngIf="this.log" class="btn btn-warning" type="submit"  routerLink="/logout">Logout</button>
        </form>
    </div>
</nav>
