<app-navbar></app-navbar>
<div class="container">

    <form (ngSubmit)="onSubmit()" #sf="ngForm">
        <div class="row search-bar">
            <div class="col-md-3">
                <input
                        type="text"
                        id="nome"
                        class="form-control"
                        ngModel
                        name="nome"
                        placeholder="nome"
                        #nome="ngModel">
            </div>
            <div class="col-md-3">
                <input
                        type="text"
                        id="cognome"
                        class="form-control"
                        ngModel
                        name="cognome"
                        placeholder="cognome"
                        #cognome="ngModel">
            </div>
            <div class="col-md-3">
                <input
                        type="text"
                        id="comune"
                        class="form-control"
                        name="comune"
                        placeholder="comune">
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" type="submit" [disabled]="!cognome.touched && !nome.touched">Cerca</button>
            </div>
        </div>
    </form>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let produttore of produttori">
            <div class="card h-100">
                <img src="assets/img/uno.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{produttore.nome}} {{produttore.cognome}}</h5>
                    <p class="card-text">Codice Fiscale: {{produttore.codiceFiscale}}</p>
                    <p class="card-text">Numero Privato: {{produttore.numeroPrivato}}</p>
                    <p class="card-text">Email: {{produttore.email}}</p>
                    <p class="card-text">Partita IVA: {{produttore.partitaIva}}</p>
                    <p class="card-text">Tesseramento Attivo: {{produttore.tesseramentoAttivo}}</p>
                    <a class="btn btn-primary">Dettagli</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
