<app-navbar></app-navbar>
<body class="text-center">
<main class="form-signin w-100 m-auto">
    <form (ngSubmit)="onSubmit()" #lf="ngForm">
        <img class="mb-4" src="assets/img/logo.png"  height="130" width="320" >
        <h1 class="h3 mb-3 fw-normal">Inserire le credenziali</h1>

        <div class="form-floating" id="produttore" ngModelGroup="produttore">
            <input type="email"
                   class="form-control"
                   id="email"
                   ngModel
                   name="email"
                   placeholder="name@example.com"
                   #nome="ngModel">
            <label for="email">Email address</label>
        </div>
        <span class="help-block"
              *ngIf="!nome.valid && nome.touched">Per la registraziona abbiamo del nome </span>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-warning" type="submit">Accedi</button>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <p>{{produttore.nomeProduttore}}</p>
                <p>{{produttore.cognomeProduttore}}</p>
                <p>{{produttore.codiceFiscale}}</p>
                <p>{{produttore.numeroPrivato}}</p>
                <p>{{produttore.emailPrivata}}</p>
                <p>{{produttore.partitaIva}}</p>
            </div>
        </div>
    </div>
</main>
</body>

<app-footer></app-footer>
