<app-navbar [login]="loginSuccesful"></app-navbar>
<body class="text-center">
<main class="form-signin w-100 m-auto">

    <form (ngSubmit)="onSubmit()" #lf="ngForm">
        <img class="mb-4" src="assets/img/logo1.svg" alt="..." height="10%" width="100%" >
        <h1 class="h3 mb-3 fw-normal">Inserire le credenziali</h1>

        <div class="form-floating" >

            <input
                    type="text"
                    id="email"
                    class="form-control"
                    ngModel
                    name="email"
                    required
                    placeholder="email"
                    #email="ngModel">
            <label for="email">Email </label>
        </div>
        <span class="help-block"
              *ngIf="!email.valid && email.touched">Inserire e-mail </span>
        <p></p>
        <div class="form-floating">
            <input
                    type="password"
                    id="password"
                    class="form-control"
                    ngModel
                    required
                    name="password"
                    placeholder="password"
                    #password="ngModel">
            <label for="password">Password</label>
        </div>
        <span class="help-block" *ngIf="!password.valid && password.touched">Inserire password</span>
           <p></p>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Ricorda e-mail
            </label>

        </div>
        <button class="w-100 btn btn-lg btn-warning" type="submit" >Accedi</button>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <p>{{produttore.nomeProduttore}}</p>
                <p>{{produttore.cognomeProduttore}}</p>
                <p>{{produttore.codiceFiscale}}</p>
                <p>{{produttore.numeroPrivato}}</p>
                <p>{{produttore.emailPrivata}}</p>
                <p>{{produttore.partitaIva}}</p>
            </div>
        </div>
    </div>
</main>
</body>

<app-footer></app-footer>
