<app-navbar></app-navbar>
<body class="text-center">
<main class="form-signin w-100 m-auto">
    <h4 class="mb-3">Login Produttore</h4>
    <form (ngSubmit)="onSubmit()" #lf="ngForm">
        <div class="row g-3" id="produttore" ngModelGroup="produttore">
        <div class="col-10">
            <label for="nome" class="form-label">Nome</label>
            <input
                    type="text"
                    id="nome"
                    class="form-control"
                    ngModel
                    name="nome"
                    required
                    #nome="ngModel">
        </div>
        <span class="help-block"
              *ngIf="!nome.valid && nome.touched">Per la registraziona abbiamo del nome </span>
        <div class="col-10">
            <label for="cognome" class="form-label">Cognome</label>
            <input
                    type="text"
                    id="cognome"
                    class="form-control"
                    ngModel
                    name="cognome"
                    required
                    #cognome="ngModel">
        </div>
        <span class="help-block" *ngIf="!cognome.valid && cognome.touched">Per la registraziona abbiamo del cognome </span>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit"[disabled]="!lf.valid">Sign in</button>
        </div>
    </form>
    <div class="box" *ngIf="loginSuccesful">
        <div class="col-xs-12" >
            <div class="row">
                <p>Nome: {{produttore.nome}}</p>
                <p>Cognome: {{produttore.cognome}}</p>
                <p>Codice Fiscale: {{produttore.codiceFiscale}}</p>
                <p>Numero Privato: {{produttore.numeroPrivato}}</p>
                <p>Email: {{produttore.email}}</p>
                <p>Partita IVA: {{produttore.partitaIva}}</p>
                <p>Tesseramento Attivo: {{produttore.tesseramentoAttivo}}</p>
            </div>
        </div>
    </div>

</main>
</body>

<app-footer></app-footer>
