<app-navbar></app-navbar>
<div class="container text-center">
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-auto">
                <img src="assets/img/due.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-auto" style="padding: 3%; margin-top: 10%;">
                <p class="text-center fs-3">L'Associazione</p>
                <p class="text-start fs-6 fst-normal" >L’Associazione Prodotti Nobili Marchigiani è presente sul territorio da oltre vent’anni, ma si è costituita
                    legalmente nel 2014, anno in cui ha organizzato e promosso - insieme all’Università Politecnica delle
                    Marche ed all’Azienda Ospedaliera Universitaria Ospedali Riuniti di Ancona - un evento &quot;di portata storica”
                    per le Marche, in cui Istituzioni, Associazioni, Mondo Scientifico, Economico, Sanitario, Agro-Alimentare,
                    Tecnologico e Ambientale si sono trovati tutti insieme per firmare “La Carta d’Intenti per la Salute
                    dell’Uomo”.
                    </p>
            </div>
        </div>
      </div>
    <div class="row" style="margin-top: 4%">
        <div class="col-sm-6">
            <div class="card mb-auto" style="padding: 3%;">
                <p class="text-center fs-3 text-danger">La carta d'intenti per la salute dell'uomo</p>
                <p class="text-start fs-6 fst-normal" >
                    La “Carta d’Intenti per la Salute dell’Uomo” è un manifesto per favorire &quot;una particolare attenzione alla
                    tutela della salute quale bene pubblico attraverso la promozione di un&#39;alimentazione di qualità e
                    selezionata&quot;. Una sfida che viene rivolta, in primo luogo, agli studiosi affinché sia la ricerca scientifica &quot;a
                    individuare, potenziare e divulgare le proprietà benefiche degli elementi presenti in alcuni cibi&quot;.</p>
                <p class="text-start fs-6 fst-normal" >
                    Focus di azione, sviluppo e intervento nel territorio marchigiano della Nostra Associazione è stata la
                    promozione della Carta d’Intenti per la Salute dell’Uomo, “Dalla Terra alla Tavola, i Prodotti della filiera
                    agroalimentare marchigiana sicuri, controllati e certificati, sviluppati nel rispetto dell’ambiente, curati con
                    amore in tutte le fasi della loro lavorazione, preparati secondo le ricette della tradizione per garantire la
                    resa funzionale ed organolettica, per arricchire la vita dell’uomo dei piaceri del gusto e della convivialità,
                    per promuovere l’educazione alimentare e la ricerca scientifica a braccetto con Università, Sanità,
                    Istituzioni e Associazioni, per migliorare la salute dell’uomo e per alleviare le sofferenze dei malati.</p>
                <p class="text-start fs-6 fst-normal warning-text" >
                    La Carta d’Intenti racchiude quindi l’inizio di un percorso virtuoso che l’Associazione ha chiamato Health
                    Nutrition Ecology per “pensare insieme la salute”, fatto di importantissimi incontri ispirati al concetto di
                    “ALIMENTAZIONE SICURA E SALUTE DELL’UOMO” trattando argomenti come la salubrità alimentare
                    (controlli, sicurezza e certificazioni) e il ruolo di una corretta nutrizione nella prevenzione delle malattie.
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-auto" style="margin-top: 10%;">
                <img src="assets/img/due.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <div class="row" style="margin-top: 4%;">
            <div class="col-sm-6">
                <div class="card mb-auto">
                    <img src="assets/img/due.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-auto" style="padding: 3%; margin-top: 10%;">
                    <p class="text-center fs-3">L'Associazione</p>
                    <p class="text-start fs-6 fst-normal" >L’Associazione Prodotti Nobili Marchigiani è presente sul territorio da oltre vent’anni, ma si è costituita
                        legalmente nel 2014, anno in cui ha organizzato e promosso - insieme all’Università Politecnica delle
                        Marche ed all’Azienda Ospedaliera Universitaria Ospedali Riuniti di Ancona - un evento &quot;di portata storica”
                        per le Marche, in cui Istituzioni, Associazioni, Mondo Scientifico, Economico, Sanitario, Agro-Alimentare,
                        Tecnologico e Ambientale si sono trovati tutti insieme per firmare “La Carta d’Intenti per la Salute
                        dell’Uomo”.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>