<app-navbar></app-navbar>
<div class="container text-center">
    <div class="row">
        <div class="col-sm-6">
            <div class="card mb-auto">
                <img src="assets/img/due.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-auto" style="padding: 3%">
                <p class="text-center fs-3">L'Associazione</p>
                <p class="text-start fs-5 fw-lighter" style="text-align-all: justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus mauris. In hac habitasse platea dictumst quisque sagittis purus sit amet.
                    Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Imperdiet proin fermentum leo vel orci porta non pulvinar. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam. Vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam.
                    Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus.
                    Montes nascetur ridiculus mus mauris. Aenean vel elit scelerisque mauris pellentesque pulvinar. Consectetur libero id faucibus nisl tincidunt. At tellus at urna condimentum.</p>
            </div>
        </div>
      </div>
</div>
<app-footer></app-footer>