<app-navbar></app-navbar>
<div >
    <div class="container">
        <div class="box">
            <form>
                <div class="mb-3">
                    <div class="row justify-content-between">
                        <div class="col align-self-start">
                            <h3>Informazioni Account</h3>
                        </div>
                        <div class="col-md-3" >
                            <button class="btn btn-primary" type="submit" >Nuovo progetto</button>
                        </div>
                        <div class="col-md-3">

                            <button class="btn btn-dark" type="submit" >Modifica Profilo</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="mb-3">
                    <label class="form-label"> <b>Username:</b></label>
                </div>
                <div class="mb-3">
                    <label class="form-label"> <b>Email:</b></label>
                </div>
                <div class="mb-3">
                    <label class="form-label"> <b>Ruolo:</b></label>
                    <div></div>
                </div>
                <div class="mb-3">
                    <div class="row justify-content-between">
                        <div class="col align-self-start">
                            <label class="form-label"> <b>Competenze:</b></label>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-dark" type="submit" >
                                <span class="oi oi-plus"></span>
                            </a>
                        </div>
                    </div>
                    <div >
                        <div></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

