

    <footer class="text-white text-center text-lg-start bg-dark">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row mt-4">
                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Su di noi</h5>

                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque corrupti.
                    </p>

                    <p>
                        Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
                        molestias.
                    </p>

                    <div class="mt-4">
                        <!-- Facebook -->
                        <a type="button" class="btn btn-floating btn-light btn-lg"><i class="bi bi-facebook"></i></a>
                        <!-- Dribbble -->
                        <a type="button" class="btn btn-floating btn-light btn-lg"><i class="bi bi-instagram"></i></a>
                        <!-- Twitter -->
                        <a type="button" class="btn btn-floating btn-light btn-lg"><i class="bi bi-whatsapp"></i></a>
                        <!-- Google + -->
                        <a type="button" class="btn btn-floating btn-light btn-lg"><i class="bi bi-telegram"></i></a>
                        <!-- Linkedin -->
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 pb-1">Dove ci troviamo?</h5>

                    <ul class="list-group" style="margin-left: 1.65em;">
                        <li class="mb-3">
                            <a class="text-white" href="https://www.google.com/maps/place/I+Prodotti+Nobili+Marchigiani+ed+Italiani/@43.564073,13.5122472,15z/data=!4m6!3m5!1s0x132d805bb6aa6ce9:0x26810f13c775ff70!8m2!3d43.564073!4d13.5122472!16s%2Fg%2F11nh4h4gyf"><span class="fa-li"><i class="bi bi-house-door-fill" ></i></span>
                            <span class="ms-2">Ancona, Via 1° Maggio 25, 62010 </span></a>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="bi bi-envelope"></i></span><span class="ms-2">contact@example.com</span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="bi bi-phone"></i></span><span class="ms-2">+39 0756345678</span>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright: Prodotti Nobili Marchigiani
        </div>
        <!-- Copyright -->
    </footer>


