<app-navbar></app-navbar>
<div class="container-fluid">
<div id="carouselExampleControls" class="carousel slide container" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/img/due.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../assets/img/uno.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/img/tre.jpg" class="d-block w-100" alt="...">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div>

<div [ngStyle]="{backgroundImage:'url(../../assets/img/uno.jpg)'}">
    <div class="container">
        <h1>Commentarii de bello gallico</h1>
        <h4>Gallia est omnis divisa in partes tres, quarum unam incolunt Belgae,
            aliam Aquitani, tertiam qui ipsorum lingua Celtae, nostra Galli
            appellantur. Hi omnes lingua, institutis, legibus inter se differunt.

            Gallos ab Aquitanis Garumna flumen, a Belgis Matrona et Sequana dividit.

            Horum omnium fortissimi sunt Belgae, propterea quod a cultu atque
            humanitate provinciae longissime absunt, minimeque ad eos mercatores saepe
            commeant atque ea quae ad effeminandos animos pertinent important,
            proximique sunt Germanis, qui trans Rhenum incolunt, quibuscum continenter
            bellum gerunt. Qua de causa Helvetii quoque reliquos Gallos virtute
            praecedunt, quod fere cotidianis proeliis cum Germanis contendunt, cum aut
            suis finibus eos prohibent aut ipsi in eorum finibus bellum gerunt.

            [Eorum una, pars, quam Gallos obtinere dictum est, initium capit a flumine
            Rhodano, continetur Garumna flumine, Oceano, finibus Belgarum, attingit
            etiam ab Sequanis et Helvetiis flumen Rhenum, vergit ad septentriones.

            Belgae ab extremis Galliae finibus oriuntur, pertinent ad inferiorem
            partem fluminis Rheni, spectant in septentrionem et orientem solem.

            Aquitania a Garumna flumine ad Pyrenaeos montes et eam partem Oceani quae
            est ad Hispaniam pertinet; spectat inter occasum solis et septentriones.]


            Apud Helvetios longe nobilissimus fuit et ditissimus Orgetorix. Is
            M. Messala, [et P.] M. Pisone consulibus regni cupiditate inductus
            coniurationem nobilitatis fecit et civitati persuasit ut de finibus suis
            cum omnibus copiis exirent: perfacile esse, cum virtute omnibus
            praestarent, totius Galliae imperio potiri. Id hoc facilius iis
            persuasit, quod undique loci natura Helvetii continentur: una ex parte
            flumine Rheno latissimo atque altissimo, qui agrum Helvetium a Germanis
            dividit; altera ex parte monte Iura altissimo, qui est inter Sequanos et
            Helvetios; tertia lacu Lemanno et flumine Rhodano, qui provinciam nostram
            ab Helvetiis dividit. His rebus fiebat ut et minus late vagarentur et
            minus facile finitimis bellum inferre possent; qua ex parte homines
            bellandi cupidi magno dolore adficiebantur. Pro multitudine autem hominum
            et pro gloria belli atque fortitudinis angustos se fines habere
            arbitrabantur, qui in longitudinem milia passuum CCXL, in latitudinem
            CLXXX patebant.</h4>
    </div>
</div>
<app-footer></app-footer>


