<app-navbar></app-navbar>
<div class="container">
    <main>
        <div class="col-md-7 col-lg-8 center">
            <h4 class="mb-3">Registrazione Produttore</h4>
            <form (ngSubmit)="onSubmit()" #rf="ngForm">
                <div class="row g-3" id="produttore" ngModelGroup="produttore">
                    <div class="col-10">
                        <label for="nomeProduttore" class="form-label">Nome</label>
                        <input
                                type="text"
                                id="nomeProduttore"
                                class="form-control"
                                ngModel
                                name="nomeProduttore"
                                required
                                placeholder="nomeProduttore"
                                #nomeProduttore="ngModel">
                    </div>
                    <span class="help-block"
                          *ngIf="!nomeProduttore.valid && nomeProduttore.touched">Per la registraziona abbiamo bisogno del nome </span>
                    <div class="col-10">
                        <label for="cognomeProduttore" class="form-label">Cognome</label>
                        <input
                                type="text"
                                id="cognomeProduttore"
                                class="form-control"
                                ngModel
                                name="cognomeProduttore"
                                required
                                placeholder="cognomeProduttore"
                                #cognomeProduttore="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!cognomeProduttore.valid && cognomeProduttore.touched">Per la registraziona abbiamo bisogno del cognome </span>
                    <div class="col-10">
                        <label for="partitaIva" class="form-label">Partita IVA</label>
                        <input
                                type="text"
                                id="partitaIva"
                                class="form-control"
                                ngModel
                                required
                                name="partitaIva"
                                placeholder="partitaIva"
                                #partitaIva="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!partitaIva.valid && partitaIva.touched">Per la registrazione abbiamo bisogno della Partita IVA</span>
                    <div class="col-10">
                        <label for="codiceFiscale" class="form-label">Codice Fiscale </label>
                        <input
                                type="text"
                                id="codiceFiscale"
                                class="form-control"
                                ngModel
                                required
                                name="codiceFiscale"
                                placeholder="codiceFiscale"
                                #codiceFiscale="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!codiceFiscale.valid && codiceFiscale.touched">Per la registrazione abbiamo bisogno del Codice Fiscale</span>
                    <div class="col-10">
                        <label for="numeroPrivato" class="form-label">Numero di telefono </label>
                        <input
                                type="text"
                                id="numeroPrivato"
                                class="form-control"
                                ngModel
                                required
                                name="numeroPrivato"
                                placeholder="numeroPrivato"
                                #numeroPrivato="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!numeroPrivato.valid && numeroPrivato.touched">Per la registrazione abbiamo bisogno di un recapito telefonico</span>
                   <div class="col-10">
                        <label for="emailPrivata" class="form-label">Email</label>
                        <input
                                type="text"
                                id="emailPrivata"
                                class="form-control"
                                ngModel
                                required
                                name="emailPrivata"
                                email
                                placeholder="emailPrivata"
                                #emailPrivata="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!emailPrivata.valid && emailPrivata.touched">Per la registrazione abbiamo bisogno dell'indirizzo email</span>
                    <div class="col-10">
                        <label for="nomeAzienda" class="form-label">nomeAzienda</label>
                        <input
                                type="text"
                                id="nomeAzienda"
                                class="form-control"
                                ngModel
                                required
                                name="nomeAzienda"
                                placeholder="nomeAzienda"
                                #nomeAzienda="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!nomeAzienda.valid && nomeAzienda.touched">Per la registrazione abbiamo bisogno dell'indirizzo email</span>
                    <div class="col-10">
                        <label for="ragioneSociale" class="form-label">ragioneSociale</label>
                        <input
                                type="text"
                                id="ragioneSociale"
                                class="form-control"
                                ngModel
                                required
                                name="ragioneSociale"
                                placeholder="ragioneSociale"
                                #ragioneSociale="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!ragioneSociale.valid && ragioneSociale.touched">Per la registrazione abbiamo bisogno dell'indirizzo email</span>
                    <div class="col-10">
                        <label for="numeroAzienda" class="form-label">numeroAzienda</label>
                        <input
                                type="text"
                                id="numeroAzienda"
                                class="form-control"
                                ngModel
                                required
                                name="numeroAzienda"
                                placeholder="numeroAzienda"
                                #numeroAzienda="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!numeroAzienda.valid && numeroAzienda.touched">Per la registrazione abbiamo bisogno dell'indirizzo email</span>
                    <div class="col-10">
                        <label for="emailAzienda" class="form-label">emailAzienda</label>
                        <input
                                type="text"
                                id="emailAzienda"
                                class="form-control"
                                ngModel
                                required
                                name="emailAzienda"
                                email
                                placeholder="emailAzienda"
                                #emailAzienda="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!emailAzienda.valid && emailAzienda.touched">Per la registrazione abbiamo bisogno dell'indirizzo email</span>
                    <div class="col-10">
                        <label for="comune" class="form-label">comune</label>
                        <input
                                type="text"
                                id="comune"
                                class="form-control"
                                ngModel
                                required
                                name="comune"
                                placeholder="comune"
                                #comune="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!comune.valid && comune.touched">Per la registrazione abbiamo bisogno dell'indirizzo email</span>
                    <div class="col-10">
                        <label for="provincia" class="form-label">provincia</label>
                        <input
                                type="text"
                                id="provincia"
                                class="form-control"
                                ngModel
                                required
                                name="provincia"
                                placeholder="provincia"
                                #provincia="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!provincia.valid && provincia.touched">Per la registrazione abbiamo bisogno dell'indirizzo email</span>
                    <div class="col-10">
                        <label for="indirizzo" class="form-label">indirizzo</label>
                        <input
                                type="text"
                                id="indirizzo"
                                class="form-control"
                                ngModel
                                required
                                name="indirizzo"
                                placeholder="indirizzo"
                                #indirizzo="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!indirizzo.valid && indirizzo.touched">Per la registrazione abbiamo bisogno dell'indirizzo email</span>
                    <div class="col-10">
                        <label for="cap" class="form-label">cap</label>
                        <input
                                type="text"
                                id="cap"
                                class="form-control"
                                ngModel
                                name="cap"
                                value="cap"
                                #cap="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!cap.valid && cap.touched">Per la registrazione abbiamo bisogno dell'indirizzo email</span>
                    <div class="col-10">
                        <label for="password" class="form-label">password</label>
                        <input
                                type="text"
                                id="password"
                                class="form-control"
                                ngModel
                                required
                                name="password"
                                placeholder="password"
                                #password="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!password.valid && password.touched">Per la registrazione abbiamo bisogno dell'indirizzo email</span>

                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" type="submit" >Register User</button>
<!--                [disabled]="!rf.valid"-->
            </form>
        </div>
    </main>
</div>
<app-footer></app-footer>

<!--    DROPDOWN OPTIONS
   <div class="form-group">
                        <label for="secret">Secret Question</label>
                        <select
                                id="secret"
                                class="form-control"
                                [ngModel]="defaultQuestion"
                                name="secret">
                            <option value="pet">Your first pet?</option>
                            <option value="teacher">Your first teacher?</option>
                        </select>
                    </div>
                    -->
<!--      RADIO - CLICKABLE OPTIONS PRETTY MUCH
<div class="form-group">
                            <textarea
                                    id="questionAnswer"
                                    name="questionAnswer"
                                    rows="3"
                                    [(ngModel)]="answer"
                                    class="form-control"
                            ></textarea>
                        </div>
                        <p>Your reply: {{answer}} </p>
                    <div class="radio" *ngFor="let gender of genders">
                        <label>
                            <input
                                type="radio"
                                name="gender"
                                ngModel
                                [value]="gender">
                            {{gender}}
                        </label>
                    </div>
                    -->


<!--    CHECK VALUES ARE IN FORM/DTO
 <div class="row">
            <div class="col-xs-12">
                <div class="row" *ngIf="submitted">
                    <p>{{item.nome}}</p>
                    <p>{{item.cognome}}</p>
                    <p>{{item.codiceFiscale}}</p>
                    <p>{{item.numeroPrivato}}</p>
                    <p>{{item.email}}</p>
                    <p>{{item.partitaIva}}</p>
                </div>
            </div>
        </div>
        -->

