<app-navbar></app-navbar>
<div class="container">
    <main>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                <form (ngSubmit)="onSubmit()" #rf="ngForm">
                    <div id="produttore" ngModelGroup="produttore">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input
                                    type="text"
                                    id="nome"
                                    class="form-control"
                                    [ngModel]="'nome'"
                                    name="nome"
                                    required
                                    #nome="ngModel">
                        </div>
                        <span class="help-block" *ngIf="!nome.valid && nome.touched">Per la registrazione abbiamo bisogno del nome</span>
                        <div class="form-group">
                            <label for="cognome">cognome</label>
                            <input
                                    type="text"
                                    id="cognome"
                                    class="form-control"
                                    [ngModel]="'cognome'"
                                    name="cognome"
                                    required
                                    placeholder="cognome"
                                    #cognome="ngModel">
                        </div>
                        <span class="help-block" *ngIf="!cognome.valid && cognome.touched">Per la registrazione abbiamo bisogno del cognome</span>

                        <div class="form-group">
                            <label for="codiceFiscale">codiceFiscale</label>
                            <input
                                    type="text"
                                    id="codiceFiscale"
                                    class="form-control"
                                    [ngModel]="'codiceFiscale'"
                                    name="codiceFiscale"
                                    required
                                    placeholder="codiceFiscale"
                                    #codiceFiscale="ngModel">
                        </div>
                        <span class="help-block" *ngIf="!codiceFiscale.valid && codiceFiscale.touched">Per la registrazione abbiamo bisogno del codiceFiscale</span>

                        <div class="form-group">
                            <label for="numeroPrivato">numeroPrivato</label>
                            <input
                                    type="text"
                                    id="numeroPrivato"
                                    class="form-control"
                                    [ngModel]="'numeroPrivato'"
                                    name="numeroPrivato"
                                    required
                                    placeholder="numeroPrivato"
                                    #numeroPrivato="ngModel">
                        </div>
                        <span class="help-block" *ngIf="!numeroPrivato.valid && numeroPrivato.touched">Per la registrazione abbiamo bisogno del numeroPrivato</span>
                        <div class="form-group">
                            <label for="partitaIva">partitaIva</label>
                            <input
                                    type="text"
                                    id="partitaIva"
                                    class="form-control"
                                    [ngModel]="'partitaIva'"
                                    name="partitaIva"
                                    required
                                    placeholder="partitaIva"
                                    #partitaIva="ngModel">
                        </div>
                        <span class="help-block" *ngIf="!partitaIva.valid && partitaIva.touched">Per la registrazione abbiamo bisogno del partitaIva</span>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input
                                    type="text"
                                    id="email"
                                    class="form-control"
                                    [ngModel]="'email@gmail.com'"
                                    name="email"
                                    placeholder="email"
                                    required
                                    email
                                    #email="ngModel">
                        </div>
                        <span class="help-block" *ngIf="!email.valid && email.touched">Email invalida</span>
                    </div>
                    <button
                            class="btn btn-primary"
                            type="submit"
                            [disabled]="!rf.valid">Submit
                    </button>
                </form>
<!--                <div>-->
<!--                    <span *ngIf="submitted">-->
<!--                        {{produttore.id}}-->
<!--                        {{produttore.nome}}-->
<!--                        {{produttore.cognome}}-->
<!--                        {{produttore.codiceFiscale}}-->
<!--                        {{produttore.numeroPrivato}}-->
<!--                        {{produttore.email}}-->
<!--                        {{produttore.partitaIva}}-->
<!--                    </span>-->
<!--                </div>-->
            </div>
        </div>
        <hr>
    </main>
</div>
<app-footer></app-footer>