<app-navbar></app-navbar>
<div class="container">
    <main>
        <div class="col-md-7 col-lg-8 center">
            <h4 class="mb-3">Registrazione Produttore</h4>
            <form (ngSubmit)="onSubmit()" #rf="ngForm">
                <div class="row g-3" id="produttore" ngModelGroup="produttore">
                    <div class="col-10">
                        <label for="nomeProduttore" class="form-label">Nome</label>
                        <input
                                type="text"
                                id="nomeProduttore"
                                class="form-control"
                                ngModel
                                name="nomeProduttore"
                                required
                                #nomeProduttore="ngModel">
                    </div>
                    <span class="help-block"
                          *ngIf="!nomeProduttore.valid && nomeProduttore.touched">Per la registraziona abbiamo bisogno del nome </span>
                    <div class="col-10">
                        <label for="cognomeProduttore" class="form-label">Cognome</label>
                        <input
                                type="text"
                                id="cognomeProduttore"
                                class="form-control"
                                ngModel
                                name="cognomeProduttore"
                                required
                                #cognomeProduttore="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!cognomeProduttore.valid && cognomeProduttore.touched">Per la registraziona abbiamo bisogno del cognome </span>
                    <div class="col-10">
                        <label for="partitaIva" class="form-label">Partita IVA</label>
                        <input
                                type="text"
                                id="partitaIva"
                                class="form-control"
                                ngModel
                                required
                                name="partitaIva"
                                #partitaIva="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!partitaIva.valid && partitaIva.touched">Per la registrazione abbiamo bisogno della Partita IVA</span>
                    <div class="col-10">
                        <label for="codiceFiscale" class="form-label">Codice Fiscale </label>
                        <input
                                type="text"
                                id="codiceFiscale"
                                class="form-control"
                                ngModel
                                required
                                name="codiceFiscale"
                                #codiceFiscale="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!codiceFiscale.valid && codiceFiscale.touched">Per la registrazione abbiamo bisogno del Codice Fiscale</span>
                    <div class="col-10">
                        <label for="numeroPrivato" class="form-label">Numero di telefono </label>
                        <input
                                type="text"
                                id="numeroPrivato"
                                class="form-control"
                                ngModel
                                required
                                name="numeroPrivato"
                                #numeroPrivato="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!numeroPrivato.valid && numeroPrivato.touched">Per la registrazione abbiamo bisogno di un recapito telefonico</span>
                   <div class="col-10">
                        <label for="emailPrivata" class="form-label">Email</label>
                        <input
                                type="text"
                                id="emailPrivata"
                                class="form-control"
                                ngModel
                                required
                                name="emailPrivata"
                                email
                                #emailPrivata="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!emailPrivata.valid && emailPrivata.touched">Per la registrazione abbiamo bisogno dell'indirizzo email</span>
                    <div class="col-10">
                        <label for="nomeAzienda" class="form-label">Email</label>
                        <input
                                type="text"
                                id="nomeAzienda"
                                class="form-control"
                                ngModel
                                required
                                name="nomeAzienda"
                                email
                                #nomeAzienda="ngModel">
                    </div>
                    <span class="help-block" *ngIf="!nomeAzienda.valid && nomeAzienda.touched">Per la registrazione abbiamo bisogno dell'indirizzo email</span>

                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" type="submit" [disabled]="!rf.valid">Register User</button>
            </form>
        </div>
    </main>
</div>
<app-footer></app-footer>

<!--    DROPDOWN OPTIONS
   <div class="form-group">
                        <label for="secret">Secret Question</label>
                        <select
                                id="secret"
                                class="form-control"
                                [ngModel]="defaultQuestion"
                                name="secret">
                            <option value="pet">Your first pet?</option>
                            <option value="teacher">Your first teacher?</option>
                        </select>
                    </div>
                    -->
<!--      RADIO - CLICKABLE OPTIONS PRETTY MUCH
<div class="form-group">
                            <textarea
                                    id="questionAnswer"
                                    name="questionAnswer"
                                    rows="3"
                                    [(ngModel)]="answer"
                                    class="form-control"
                            ></textarea>
                        </div>
                        <p>Your reply: {{answer}} </p>
                    <div class="radio" *ngFor="let gender of genders">
                        <label>
                            <input
                                type="radio"
                                name="gender"
                                ngModel
                                [value]="gender">
                            {{gender}}
                        </label>
                    </div>
                    -->


<!--    CHECK VALUES ARE IN FORM/DTO
 <div class="row">
            <div class="col-xs-12">
                <div class="row" *ngIf="submitted">
                    <p>{{item.nome}}</p>
                    <p>{{item.cognome}}</p>
                    <p>{{item.codiceFiscale}}</p>
                    <p>{{item.numeroPrivato}}</p>
                    <p>{{item.email}}</p>
                    <p>{{item.partitaIva}}</p>
                </div>
            </div>
        </div>
        -->

